body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: #e7ec89;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: #D37815;
  padding: 13px;
  margin-top: 5px;
  justify-items: center;
}

footer {
  background-color: #D37815;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

h1 {
  color: #ffc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
}

#sidebar {
  background: #e7ec89 url(sand.jpg);
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#contents {
  background-color: #ffc;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 3;
}


a {
  text-decoration: none;
  color: #290001
}

a:hover {
color:#D37815; 
}

h2 {
  font-size: 34px;
  background-color: #CAD315;
  margin: 20px;
  padding: 30px;
  color: #f2f4c0;
  border-radius: 10px 20px 30px 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#profilephoto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-width: 4px;
  border-color: #f2f4c0;
  border-style: solid;
}

#statement {
  font-size: 25px;
  color: #f2f4c0
}

#logo {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  filter: invert(100);
}

#contact {
  font-size: 24px;
  color: #ffc;
}

p {
  margin: 20px;
  color: #290001;
}

h3 {
  margin: 10px;
  font-size: 28px;
  color: #290001;
}

main {
  display: flex;
  flex-direction: row;
  overflow: unset;
}

.nav-menu {
  background-color: #D37815;
}

h5 {
  font-style: italic;
  color: #D37815;
  margin-left: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}


