body{
    background-color: gray;
}


h1{
    color: #fff;

}

h4{
    color: #fff; 
}

#inDate{
    color: #fff; 
}

#outDate{
    color: #fff; 
}

.footer{
    width: 80%;
    height: 40vh;
    background-color: #212329;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.grid-even-columns{
    display: grid;
   grid-template-columns: 30% 30% 30%;
}

.footer-heading h5{
    margin-bottom: 2rem;
}

.container a{
    color:#fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.container a:hover{
    color:red;
    transition: 0.3s ease-out;
}

.footer-email-form h5{
    margin-bottom: 2rem;
}

#footer-email{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder{
    color: lightgray;
}

#footer-email-btn{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    background-color: #f94230;
    outline: none;
    border: none;
    color:#fff;
    font-size: 1rem;
}

#footer-email-btn:hover{
    cursor: pointer;
    background-color: skyblue;
    transition: all 0.4s ease-out;
}

.btn-outline-dark{
    background-color: aqua;
}

.custom-bg:hover{
    background-color: aquamarine;
    border-color: aquamarine;
}

@media screen and (max-width: 1150px) {
    .footer{
        height: 50vh;
    }
    .footer-email-form{
        margin-top: 4rem;
    }
}

@media screen and (max-width: 850px) {
    .footer{
        padding-top: 50vh;
    }
}

@media screen and (max-width: 720px) {
    .footer{
        display: none;
    }
    .footer-email-form{
        margin-top: 2rem;
    }
}
